<header class="py-5">
  <ul class="nav justify-content-end gap-3">
    <li class="nav-item">
      <a href="/" class="btn btn-dark">Calendário de consultas</a>
    </li>
    <li class="nav-item">
      <a href="/list" class="btn btn-dark">Lista de consultas</a>
    </li>
    <li class="nav-item">
      <a href="/cadastro" class="btn btn-success">Nova consulta</a>
    </li>
  </ul>
</header>
